.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.body {
  background-image: url(./page-background.gif);
  background-size: cover;
  margin: 0;
  font-family: fantasy;
  color: antiquewhite;
}
h1 {
  padding: 20px;
}
.fish-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fish {
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background-color: rgba(127, 178, 241, 0.422);
}
img {
  width: 200px;
}
.fish-image {
  width: 150px;
}
.fish-detail {
  background-image: url(./detail-background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
  
}
.fish-detail .fish-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.fish-detail .fish-data p {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.47);
  padding: 15px;
  border-radius: 15px;
  font-family:fantasy
}
.catchphrase-left {
  width: 400px; 
  padding-top: 325px;
  left: 40px;
  margin: 40px;
}
.fish-name {
  width: 300px;
  margin: 40px;
  background-color: rgba(250, 235, 215, 0.47);
  padding: 10px;
  border-radius: 15px;
}
.museum-phrase-right {
  width: 400px;
  padding-top: 325px;
  margin: 40px;
}
button {
  margin: 10px;
  border-radius: 5px;
}
.sunny {
  display: flex;
  flex-direction: row;
}